html, body{
    color: #f2f2f2 !important;
    height: 100% !important;
    background-color: rgb(54, 58, 58) !important;
    font-family: Roboto !important;
}
.navbar .navbar-brand{
    color: blueviolet !important;
}
.main {
    min-height: 100vh;
    position: relative;
}
.mainmenu{
    position: absolute;
    z-index: 100;
    width: 100%;
}
.about{
    margin-top: 55px;    
}
.about h2{
    text-align: center;
    margin-bottom: 45px;
}
.beforemenu{
    padding-top: 58px;
}
.testnet.about img{
    margin: 30px 0;
}
.brd{
    border: 0px solid #f4f4f4;
}
.clip {
    /*white-space: normal;*/ /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.textac{
    text-align: center;
    padding: 8px 0;
}
#carouselExampleIndicators .carousel-inner h5, #carouselExampleIndicators .carousel-inner p{
    color:rgb(54, 58, 58);
    font-weight: bold
}

#carouselExampleIndicators .carousel-caption{
    background-color: rgba(204,204,204,0.85);
    border-radius: 50px
}
.seriy{
    background-color: lightgray;
    padding: 7px;
}
h6{
    color: blueviolet !important;
}
a:hover{
    text-decoration: none !important;
}
